@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");

/* Typography */
body {
  font-family: "Epilogue";
  font-size: 16px;
  color: #555;
  line-height: 1.25;
}
h3 {
  font-family: "Space Grotesk", sans-serif, Arial, Helvetica;
}
h4 {
  font-family: "Space Grotesk", sans-serif, Arial, Helvetica;
  font-size: 18px;
  color: #111;
}
#logo {
  font-family: "Space Grotesk";
  font-size: 16px;
  color: #111;
}
#logo::before {
  content: "#";
  color: #ec5b37;
  font-weight: bold;
}
#banner {
  text-align: center;
}
#banner h1 {
  font-family: "Space Grotesk", sans-serif, Arial, Helvetica;
  font-size: 64px;
  line-height: 64px;
  font-weight: 800;
  color: #111;
}
#banner h1 span {
  color: #ec5b37;
}
#banner h1 span::before,
#banner h1 span::after {
  content: "**";
  color: #ccc;
  font-weight: normal;
  font-size: 48px;
}
#banner h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #555;
}
#banner .cta-button {
  margin-top: 10px;
}
.section-title {
  font-family: "Space Grotesk", sans-serif, Arial, Helvetica;
  font-size: 36px;
  font-weight: 700;
  color: #111;
}
.section-subtitle {
  color: #9c9c9c;
}

.cta-button {
  font-family: "Space Grotesk", sans-serif, Arial, Helvetica;
  color: #111;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #eee;
  background-image: url(../images/resumey-pro-logo.svg);
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: 8px 8px;
  line-height: 48px;
  padding-left: 48px;
  padding-right: 8px;
  transition: all 0.2s;
  cursor: pointer;
}

.icon-block h4 {
  position: relative;
}
.icon-block h4::before {
  content: "*";
  color: #ec5b37;
  position: absolute;
  width: 16px;
  left: -16px;
  line-height: 26px;
}

.testimonial img {
  max-height: 80px;
}

#wrapper {
  padding: 0px;
}
